@model SchoolWebSite2.Models.Person

@functions{
    string GetSrc()
    {
        if (string.IsNullOrEmpty(Model.Photo))
        {
            return Url.Content("~/Images/userdefault.jpg");
        }
        else
        {
            return Url.Content(Model.Photo);
        }
    }

    string GetDate()
    {
        if (Model.BirthDate.HasValue)
        {
            return Model.BirthDate.Value.ToShortDateString();
        }
        else
        {
            return "";
        }
    }
  }
<style>
    .element {
        margin: 20px;
        background-color: #b3c2db;
        font-size: 20px;
        flex-wrap: wrap;
    }
</style>

<div class="element" style="display:flex;padding:20px;">
    <div style="width: 20%;">
        <img src="@GetSrc()" style="width:150px;height:200px;" />
    </div>
    <div style="width:80%;display:flex;flex-wrap:wrap;">
        <div style="width:100%;text-align:center;">
            <div>@Model.FullName</div>
        </div>
        <div style="width:50%;">
            <div style="margin-bottom:15px;">Дата рождения: @GetDate()</div>
            <div>Почта: @Model.Email</div>
        </div>
        <div style="width:50%;">
            <div style="margin-bottom:15px;">Мобильный телефон: @Model.MobileNumber</div>
            <div>Домашний телефон: @Model.HomeNumber</div>
        </div>
        <div style="width:100%;text-align:center;">
            @using (Html.BeginForm("Delete", "People", new { id = Model.Id }, FormMethod.Post))
            {
                if (User.IsInRole("Администратор"))
                {
                    <a class="btn btn-default" href="/people/edit/@Model.Id">Изменить</a>
                    <input type="submit" value="Удалить" class="btn btn-default" />
                }
                <a class="btn btn-default" href="/people/index/@Model.Id">Подробнее</a>
            }
        </div>
    </div>
</div>